<main>
    <div class="margem">
        <div class="card" style="width: 20rem; height: 8rem;">
            <div class="card-body">
              <h5 class="card-title">Produtos:</h5>
              <p class="card-text">2</p>
            </div>
        </div>
    </div>
    <div class="margem">
        <h2 class="margem-right">Produtos:</h2> 
        <button type="button" class="btn btn-primary">+ Adicionar</button>
        <br>
        <br>
        <table class="table" style="width: 75%">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Qtde</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Feijão</td>
                <td>5,00</td>
                <td>100</td>
                <td>
                    <button type="button" class="btn btn-secondary me-2">Editar</button>
                    <button type="button" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Arroz</td>
                <td>4,50</td>
                <td>100</td>
                <td>
                    <button type="button" class="btn btn-secondary me-2">Editar</button>
                    <button type="button" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
