.margem {
    margin: 100px;
    width: 100%;
}

.margem2 {
    margin: 100px;
    margin-top: -50px;
    width: 100%;
}

h2 {
    display: inline;
}

.margem-right {
    margin-right: 1150px;
}

.position {
    margin-left: 1300px;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.formContainer {
    margin-left: 5px;
}